


<div align="center">
    <h1>Create Book </h1>
    <table>

        <tr>
            <td>Logo</td>
            <td><input type="text" [(ngModel)]="book.image" placeholder="Enter path here"></td>
        </tr>

        <tr>
            <td>Title</td>
            <td><input [(ngModel)]="book.title" type="text" placeholder="---text--"/></td>
        </tr>

        <tr>
            <td>Category</td>
            <td><input  [(ngModel)]="book.category" type="text" placeholder="---text--"/></td>
        </tr>

        <tr>
            <td>Author</td>
            <td><input  [(ngModel)]="book.authorFirstName" type="text" placeholder="enter author first name"/></td>
        </tr>
        <tr>
            <td>Publisher</td>
            <td><input type="text" [(ngModel)]="book.publisher" placeholder="enter publisher name"/></td>
        </tr>

        <tr>
            <td>Published Date</td>
            <td><input type='date' [(ngModel)]="book.date" /></td>

        </tr>

        <tr>
            <td>Content</td>
            <td><input  type="text" [(ngModel)]="book.content"  placeholder="---text--"/></td>

        </tr>

        <tr>
            <td>Price</td>
            <td><input type='number' [(ngModel)]="book.price" placeholder="0.00"/></td>

        </tr>

        <tr>

            <td>Active</td>
            <td><input  type='checkbox' [(ngModel)]="book.active"/></td>

        </tr>

        <tr>

            <td></td>

            <td>

                <div align="right"><button (click)='createBook()' class="btn btn-primary"> save</button></div>

            </td>

        </tr>

    </table>

</div>