
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Digital Book App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            
            <a href="createbook" class="nav-item nav-link " >create book</a>
          </li>
            <li class="nav-item">
              <a href="searchbook" class="nav-item nav-link " >Search Books</a>
           </li>

           
           <li class="nav-item">
            <a href="buybook" class="nav-item nav-link " >Buy Book</a>
         </li>
         
         <li class="nav-item">
          <a href="purchasedbook" class="nav-item nav-link " >Purchased Books</a>
       </li>

        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success">Login</button>
          <button class="btn btn-outline-success">logout</button>
          
        </form>
       </div>
    </div>
  </nav>
<router-outlet></router-outlet>