<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean id="a" class="com.bridgelab.model.A" init-method="init" destroy-method="destroy"/>
<bean id="b" class="com.bridgelab.model.B"/>
<bean id="s" class="com.bridgelab.model.SetterInjection">

<constructor-arg name="studentName" value="rajat"/>
<constructor-arg name="studentAge" value="23"/>
<constructor-arg name="studentCollegeName" value="Mumbai Engg Clg"/>
</bean>

<bean id="s1" class="com.bridgelab.model.SetterInjection">

<property name="studentName" value="studentName"/>
<property name="studentAge" value="23" />
<property name="studentCollegeName" value="SGDCOE"/>
</bean>

<bean id="s2" class="com.bridgelab.model.SetterInjection">

<property name="studentName" value="rakesh"/>
<property name="studentAge" value="22" />

</bean>
</beans>